$dark-blue:rgb(34, 47, 121);
$light-blue:rgb(89, 96, 139);
$headings-font: 'Alegreya Sans SC', sans-serif;

h1, h2, h3 {
    font-family: $headings-font
}
.jumbotron {
    padding: 20px;
    background-color:$dark-blue
}

#logo {
    border-radius: 50%;
}

#moto {
    display: block;
}
.footer {
    background-color:$dark-blue ;
    
}