$dark-blue:rgb(34, 57, 121);
$light-blue:rgb(89, 96, 139);
$white: rgb(255, 255, 255);
$khaki: #b7baa7;
$headings-font: 'Alegreya Sans SC', sans-serif;

h1, h2, h3 {
    font-family: $headings-font
}
.jumbotron {
    padding: 20px;
    background-color:$dark-blue
}

#logo {
    border-radius: 50%;
}

#moto {
    font-family: $headings-font;
    font-size: 4em;
    text-shadow: 1px 2px 2px $white
}

img[class=card-img] {
    height: auto;
}

.card-button {
    background-color: $khaki;
}

.footer {
    background-color:$dark-blue ;
    
}